// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

#dataTable_length label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

#dataTable thead th {
    min-width: 80px;
    white-space: nowrap;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #519991 !important;
}

.bg-base {
    background-color: #0d6efd !important;
}

.select2-close-mask{
    z-index: 2099;
}

.select2-dropdown{
    z-index: 3051;
}